$mainFont : 'Montserrat', sans-serif;

// Colors
$green: #4CB8B3;
$rose: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000;
$white: #FFF;

// Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;


// Fonts
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Spaces
$space: 5rem;