:root {
    --primary: #9c27b0;
    --darkPrimary: #89119D;
    --secundary: #FFCE00;
    --darkSecundary: rgb(233, 287, 2);
    --white: #FFF;
    --black: #000;
    --mainFont: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBAL */

body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundary);
    font-family: var(--mainFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* FOOTER */

.footer {
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    font-family: var(--mainFont);
    text-align: center;
    font-size: 2.2rem;
}

/* NAVEGATION */

.navegation {
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegation__link {
    font-family: var(--mainFont);
    color: var(--white);
    font-size: 3rem;
}

.navegation__link:hover, .navegation__link--active {
    color: var(--secundary);
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* PRODUCTS */

.product {
    background-color: var(--darkPrimary);
    padding: 1rem;
}

.product__name {
    font-size: 4rem;
}

.product__price {
    font-size: 2.8rem;
    color: var(-ary);
}

.product__name, .product__price {
    font-family: var(--mainFont);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* GRAPHICS */

.graphic {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafic--shirts {
    grid-row: 2 / 3;
    background-image: url(../img/graph1.jpg);
}

.graphic--node {
    background-image: url(../img/graph2.jpg);
}

@media (min-width: 768px) {
    .graphic--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* ABOUT SECTION */

.about {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .about {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.about__content {
    text-align: justify;
}

.about__img {
    grid-row: 1 /2;
}

@media (min-width: 768px) {
    .about__img {
        grid-column: 2 / 3;
    }
}

/* BLOCKS */

.blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .blocks {
        grid-template-columns: repeat(4, 1fr);
    }
}

.block__title {
    margin: 0;
}

/* PRODUCTS Page*/

@media (min-width: 768px) {
    .tshirt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.form__field {
    border: 1rem solid var(--darkPrimary);
    background-color: transparent;
    color: var(--black);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}
.form__submit {
    border: none;
    background-color: var(--secundary);
    font-size: 2rem;
    font-family: var(--mainFont);
    padding: 2rem;
    transition: backgraound-color .2s ease;
    grid-column: 1 / 3;
}
.form__submit:hover {
    cursor: pointer;
    background-color: var(--darkSecundary);
}