:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #2d46b9;
    --green-light: #1ed760;
    --green-dark: #1db954;
    --gray-light: #c1c3c6;
    --gray-dark: #1e7dbd;
    --gray-intense: #616467;
    --hero-bg-color: #0f3aa7;
    --hero-terms-link: rgb(41, 65, 171);
}

html,
body {
    height: 100%;
    background-color: var(--hero-bg-color);
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
