header {
    height: 5.5rem;
    background: var(--black);
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 76.5rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header-logo {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.header-logo img{
    width: 8.9rem;
}

/* Menu on Mobile devices */
.nav-mobile {
    display: flex;
    align-items: center;
    position: relative;
}

.profile {
    border: 2px solid var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
    cursor: pointer;
}

.profile svg {
    width: 1.5rem;
    fill: var(--white);
}

.profile:hover {
    border-color: var(--green-light);
}

.profile:hover > svg {
    fill: var(--green-light);
}

/* Menu */
.toggle {
    width: 2rem;
    height: 3rem;
    cursor: pointer;
    z-index: 2;
}

.hamburger-menu {
    width: 2.1rem;
    height: 3rem;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu div {
    position: relative;
    transition: all 0.5s ease;
}

.hamburger-menu div,
.hamburger-menu div::before,
.hamburger-menu div::after {
    content: "";
    height: 0.3rem;
    width: 100%;
    background: var(--white);
    border-radius: 1rem;
}

.hamburger-menu div::before {
    position: absolute;
    top: -0.7rem;
}

.hamburger-menu div::after {
    position: absolute;
    top: 0.7rem;
}

toggle:checked + .hamburger-menu div::before,
toggle:checked + .hamburger-menu div::after {
    top: 0;
    transform: rotate(90deg);
}

.menu-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 0;
    opacity: 0;
    height:  100%;
    background: var(--black);
    top: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    padding: 5rem;
    transition: all 0.5s ease;
    z-index: 999;
}

/*Menu on desktop*/
.nav-desktop {
    display: none;
}

/* TODO: finished header (align hamburger menu) */
